@page "/"

<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <a href="/joke">
            <button class="btn bg-primary joke-button" href="/joke">
                Jokes
            </button>
        </a>
    </div>
    <div class="col-md-6 text-center">
        <a href="/gallery">
            <button class="btn bg-primary gallery-button">
                Gallery
            </button>
        </a>
    </div>
</div>

@code {}
