<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/d13efb0e-9088-4603-9424-a61242668416/resourceGroups/collegesub-resgroup/providers/Microsoft.Web/sites/eadca3project</ResourceId>
    <ResourceGroup>collegesub-resgroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://eadca3project.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://eadca3project.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$eadca3project</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>