@page "/contact-Us"
@rendermode InteractiveServer

<PageTitle>Contact Us</PageTitle>

<!-- Email component-->
@using eadca3.EmailServiceNamespace;

<h1>Contact Us</h1>

<form @onsubmit="sendMessage">
    <label>Email Address:</label>
    <input type="email" @bind="userEmail" />
    <br />

    <label>Subject:</label>
    <input type="subject" @bind="emailSubject">
    <br />

    <label>Message:</label>
    <textarea @bind="emailBody" rows="4"></textarea>
    <br />

    <button type="submit">Send</button>
</form>

@code {

    private EmailServiceNamespace.EmailService emailService = new EmailServiceNamespace.EmailService();
    private string userEmail;
    private string emailSubject;
    private string emailBody;

    private async Task sendMessage() {
        await emailService.SendMessage(userEmail, emailSubject, emailBody);
        userEmail = "";
        emailSubject = "";
        emailBody = "";
    }
}
