@page "/"


<PageTitle>Home Page</PageTitle>

    <h1>Joke Central</h1>
    <h1>@Joke.value</h1>

    <button @onclick="GenerateJoke">Generate</button>

    @if (!string.IsNullOrEmpty(@Joke.value))
    {
        <div class="main-page">
            @Joke.value;
        </div>
    }

@code {
    @using System.Net.Http
    @using System.Text
    @using System.Net.Http.Json
    @using System.Web
    @using Newtonsoft.Json.Linq
    @using Newtonsoft.Json

    public JokeJson Joke = new JokeJson();

    public async Task GenerateJoke() {

        Console.WriteLine("Button clicked!");

        using HttpClient client = new HttpClient();
        var res = await client.GetStringAsync("https://api.chucknorris.io/jokes/random");
        Joke = JsonConvert.DeserializeObject<JokeJson>(res);
        Console.WriteLine(Joke.value);
        StateHasChanged();
    }

    private void changeVal() {
        Console.WriteLine("Here");
    }

    public class JokeJson {
        public List<string> categories { get; set; }
        public string created_at { get; set; }
        public string icon_url { get; set; }
        public string id { get; set; }
        public string updated_at { get; set; }
        public string url { get; set; }
        public string value { get; set; }
    }
}
