@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStorage


<PageTitle>Home Page</PageTitle>

    <h1>Joke Central</h1>

    <p>@quote</p>

    <button @onclick="GenerateJoke">Generate</button>

    @if (!string.IsNullOrEmpty(quote))
    {
        <div class="main-page">
            Here
            @quote
        </div>
    }

@code {
    @using System.Net.Http
    @using System.Text
    @using System.Net.Http.Json
    @using System.Web
    @using Newtonsoft.Json.Linq
    @using Newtonsoft.Json

    public JokeJson Joke = new();
    private string quote;

    public async Task GenerateJoke() {
        using HttpClient client = new HttpClient();
        var res = await client.GetStringAsync("https://api.chucknorris.io/jokes/random");
        var joke = JsonConvert.DeserializeObject<JokeJson>(res);
        quote = joke.value;
        StateHasChanged();
    }

    public class JokeJson {
        public List<object> categories { get; set; }
        public string created_at { get; set; }
        public string icon_url { get; set; }
        public string id { get; set; }
        public string updated_at { get; set; }
        public string url { get; set; }
        public string value { get; set; }
    }
}
