@page "/"
@rendermode InteractiveServer

<PageTitle>Home Page</PageTitle>

<div class="container d-flex">
    <div class="row align-content-center col">
        <button class="btn btn-primary" href="/joke">
            Jokes
        </button>
        <button class="btn btn-primary" href="/gallery">
            Gallery
        </button>
    </div>
</div>

@code {}
